<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<body>

<nav>
  <div class="nav-bg"></div>
  <ul>
    <li><a href="mailto: agreen@bournemouth.ac.uk"><img src="envelope.png" width="50" height="50" title="Email" alt="Email"></a></li>
    <li><a href="https://staffprofiles.bournemouth.ac.uk/display/agreen"><img src="../app/static/globe.png" width="50" height="50" title="Website" alt="Website"></a></li>
    <li><a href="https://twitter.com/ashgreenarchaeo?lang=en"><img src="../app/static/twitter.png" width="50" height="50" title="Twitter" alt="Twitter"></a></li>
    <li><a href="https://github.com/ashelygreen"><img src="../app/static/github.png" width="50" height="50" title="Github" alt="Github"></a></li>
    <li><a href="https://bournemouth.academia.edu/AshelyGreen"><img src="../static/student-hat.png" width="50" height="50" title="Academia" alt="Academia"></a></li>
  </ul>
</nav>


<div>
  <div class='center'>
    <div id='right-half'></div>
    <div class='title'>Upload your <strong>greyscale radargrams</strong> below:</div>
    <p>
      Save the result by right clicking on the image.
    </p>
    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
      <div class='upload-label'>
        <label id='upload-label'>No file chosen</label>
      </div>
      <div>
        <canvas id='image-picked' class='no-display' height='300' width='300'></canvas>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
      </div>
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
    </div>
  </div>
</div>
</body>
</html>
