<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<body>
  <div class="nav-bkgrnd"></div>
<right>
    <ul class="social-icons">
        <li><a href="mailto: agreen@bournemouth.ac.uk"><i class="fa fa-envelope"></i></a></li>
        <li><a href="https://twitter.com/ashgreenarchaeo?lang=en"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://staffprofiles.bournemouth.ac.uk/display/agreen"><i class="fa fa-globe"></i></a></li>
        <li><a href="https://github.com/ashelygreen"><i class="fa fa-github"></i></a></li>
        <li><a href="https://www.instagram.com/ashgreenarchaeo/?hl=en"><i class="fa fa-instagram"></i></a></li>
        <li><a href="https://bournemouth.academia.edu/AshelyGreen"><i class="fa fa-graduation-cap"></i></a></li>
  </ul></right>
	
<left><link href="https://fonts.googleapis.com/css?family=Barlow:100,200,300,400,500,600,700,800,900" rel="stylesheet">
	<img src="../static/logo v2Asset 2.png" width=600 height=130>
 
</left>


<div>
  <div class='center'>
    <div id='right-half'></div>
    <div class='title'>Upload images of <strong>greyscale radargrams</strong> below:</div>
    <p>
           Reilig for Radargrams is a single object detector for grave-like anomalies in greyscale radargrams.  </br>Save the detection result by right clicking on the image.  The confidence score for the detection is displayed below the returned image.</br> </br><strong>To remove previous detections refresh the webpage after every analysis.</strong>
    </p>
    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'
	>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
      <div class='upload-label'>
        <label id='upload-label'>No file chosen</label>
      </div>
      <div>
        <canvas id='image-picked' class='no-display' height='300' width='300'></canvas>
      </div>
        <div class='result-label'>
        <label id='result-label'></label>
      </div>
       <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
      </div>

    </div>
  </div>
</div>
</body>

<footer>
  <div class="bottom-contain">
  <section class="newsletter">
    <div class="newsletter-inner">
      <div class="container">
        <h3><strong>Having trouble inferring on your images?</strong></h3>
        <a href="mailto: agreen@bournemouth.ac.uk" class="btn btn-inverse">Get in touch</a> </div>
    </div>
  </section>
  <div class="site-footer-container">
    <footer class="site-footer">
      <div class="site-footer-inner">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="left"><img src= "../static/linkAsset 3.png" width=150 height=100></br> </br>Need to detect graves in timeslice data? Check out <a href="reiligts.onrender.com">Reilig for Timeslices</a> </br> to detect potential post-medieval and modern graves. </br> Additional tools are available for <a href= "https://ashelygreen.maps.arcgis.com/apps/webappviewer/index.html?id=ef4298356e3d461a888fb4be3c0353d0">ArcGIS</a></br> </div>
            </div>
            <div class="col-md-6">
		    <div class="right"><img src= "../static/profile.jpg" width= 200 height=100></br> </br>Ashely is a Postgraduate Researcher at Bournemouth University (UK).  </br>This tool was created as part of her PhD research and the model</br> was trained on examples of medieval Irish graves and simulated GPR data. </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>
</footer>  
 <h5>Copyright © Ashely Green, Bournemouth University 2019  |  All rights reserved.</h5>   
</html>
