body {
    background-color: #fff;
}

nav {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 55px;
  padding: 2em 5em;
  background-color: #1c2f2f;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: .2em 5em;
  float: right;
  background-color: #1c2f2f;
}

nav ul li {
  display: inline-block;
  margin: 0;
  padding: .2em .7em;
}

nav a {
  width: 100%;
  height: 100%;
  color: white;
  text-decoration: none;
  font-family: Ubuntu;
  font-size: 1.15em;
  font-weight: lighter;
  letter-spacing: 1px;
  transition: .25s ease-in-out;
}

nav a:hover {
  color: rgb(220, 120, 0);
}

.nav-bg {
  content: '';
  position: absolute;
  display: block;
  top: -100%;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgb(50, 50, 50);
  transition: .45s ease-in-out;
}

.bg-hidden {
  top: -100%;
  opacity: 0;
}

.bg-visible {
  top: 0;
  opacity: 1;
}




.no-display {
    display: none;
}

.center {
    margin: 125px 25px 10px;
    
    padding: 10px 50px;
    text-align: center;
    font-size: 14px;
    font-family: "Arial";
    background-image: url("../static/backgroundAsset1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
}

.title {
    font-size: 30px;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #262626;
    font-family: "Arial";
}

.content {
    margin-top: 10em;
}

.analyze {
    margin-top: 5em;
}

.upload-label {
    padding: 10px;
    font-size: 12px;
}

.result-label {
    margin-top: 0.5em;
    padding: 10px;
    font-size: 20px;
    font-family: "Arial";
    font-weight: bold;
}

button.choose-file-button {
    width: 200px;
    height: 40px;
    border-radius: 2px;
    background-color: #000000;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: solid 1px #000000;
    font-size: 13px;
    color: #FFFFFF;
    box-shadow: 0 9px 18px rgba(0,0,0,0.2);
}

button.analyze-button {
    width: 200px;
    height: 40px;
    border: solid 1px #000000;
    border-radius: 2px;
    background-color: #000000;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-size: 13px;
    color: #FFFFFF;
    box-shadow: 0 9px 18px rgba(0,0,0,0.2);
}

button:focus {
    outline: 0;
}

image-picked {
    border: 1px solid black;
    background-repeat: no-repeat;
    height: 500px;
    backgroun-position: center;
    background-size: contain;
}

canvas {
    border: 1px solid black;
    background-repeat: no-repeat;
    height: 500px;
    backgroun-position: center;
    background-size: contain;
}
